.root {
  text-align: center;

  button {
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: large;
    font-family: ABCSans, sans-serif;
  }
}
